<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>管理员列表</title>
    <link rel="icon" href="../static/i/icon.png" th:href="@{/i/icon.png}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/amazeui.min.css" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css" th:href="@{/css/admin.css}"/>
</head>
<body>
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>宠物信息管理后台系统</strong> <small>Sichuan Jiabao Pet Service Co., Ltd.</small>
    </div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="login.html" th:href="@{/web/login}"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
    </div>
</header>
<div class="am-cf admin-main">
    <!--sider bar-->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a class="am-cf" href="index.html"><span class="am-icon-home"></span> 首页</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-pet'}"><span class="am-icon-file"></span> 宠物管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-pet">
                        <li><a href="petlist.html" th:href="@{/web/petlist}" class="am-cf"><span class="am-icon-table"></span> 宠物列表</a></li>
                        <li><a href="petadd.html" th:href="@{/web/petadd}"><span class="am-icon-pencil-square-o"></span> 添加宠物</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-course'}"><span class="am-icon-file"></span> 课程管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-course">
                        <li><a href="courselist.html" th:href="@{/web/courselist}" class="am-cf"><span class="am-icon-table"></span> 课程列表</a></li>
                        <li><a href="courseadd.html" th:href="@{/web/courseadd}"><span class="am-icon-pencil-square-o"></span> 添加课程</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-trainer'}"><span class="am-icon-file"></span> 训练师管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-trainer">
                        <li><a href="trainerlist.html" th:href="@{/web/trainerlist}" class="am-cf"><span class="am-icon-table"></span> 训练师列表</a></li>
                        <li><a href="traineradd.html" th:href="@{/web/traineradd}"><span class="am-icon-pencil-square-o"></span> 添加训练师</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" href="attendancelist.html" th:href="@{/web/attendancelist}"><span class="am-icon-table"></span> 考勤记录 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-owner'}"><span class="am-icon-file"></span> 宠物主人管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-owner">
                        <li><a href="ownerlist.html" th:href="@{/web/ownerlist}" class="am-cf"><span class="am-icon-table"></span> 宠物主人列表</a></li>
                        <li><a href="owneradd.html" th:href="@{/web/owneradd}"><span class="am-icon-pencil-square-o"></span> 添加宠物主人</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" href="feedbacklist.html" th:href="@{/web/feedbacklist}"><span class="am-icon-table"></span> 反馈信息 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-notifi'}"><span class="am-icon-file"></span> 通知管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-notifi">
                        <li><a href="notificationlist.html" th:href="@{/web/notifilist}" class="am-cf"><span class="am-icon-table"></span> 通知列表</a></li>
                        <li><a href="notificationadd.html" th:href="@{/web/notifiadd}"><span class="am-icon-pencil-square-o"></span> 添加通知</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" href="adminlist.html" th:href="@{/web/adminlist}"><span class="am-icon-file"></span> 管理员 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                </li>

            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 当前时间</p>
                    <p th:text="${#dates.createNow()}"></p>
                </div>
            </div>

        </div>
    </div>

    <!--content-->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">管理员列表</strong><small></small></div>
            </div>
            <hr>

            <div class="am-g">

                <!--<div class="am-u-sm-12 am-u-md-3">-->
                    <!--<form method="post" class="am-form" th:object="${searchTrainerForm}" th:action="@{/web/searchtrainerlist}">-->
                        <!--<div class="am-text-sm">输入名字搜索：</div>-->
                        <!--<div class="am-input-group am-input-group-sm">-->
                            <!--<input id="pet_name" type="text" th:field="*{name}" class="am-form-field" required="required">-->
                            <!--<span class="am-input-group-btn"><input class="am-btn am-btn-default" type="submit" value="搜索"></span>-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--<p th:text="${searchResultMessage}"></p>-->
                    <!---->
                    <!--<p th:text="${addResultMessage}"></p>-->
                <!--</div>-->

            </div>

            <div class="am-g">
                <div class="am-u-sm-12">
                    <p th:text="${deleteResultMessage}"></p>
                    <p th:text="${updateResultMessage}"></p>
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-id">ID</th>
                                <th>姓名</th>
                                <th>用户名</th>
                                <th>邮箱</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="adminItem : ${adminList}">
                                <td th:text="${adminItem.id}">1</td>
                                <td><a href="#" th:href="@{/web/admindetail(id=${adminItem.id})}" th:text="${adminItem.name}">姓名</a></td>
                                <td th:text="${adminItem.username}">用户名</td>
                                <td th:text="${adminItem.email}">邮箱</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><a th:href="@{/web/deleteadmin(id=${adminItem.id})}"><span class="am-icon-trash-o"></span> 删除</a></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr/>
                    </form>
                </div>

            </div>

        </div>
    </div>


</div>



</body>
</html>